
@page "/previousapplications"
@using ApplicationsHelper
@inject DatabaseHelper DatabaseHelper

<h1 class="mb-4">Previous Applications</h1>

@if (applications == null)
{
    <p>Loading...</p>
}
else if (!applications.Any())
{
    <p>No applications found.</p>
}
else
{
    
    <hr class="border border-primary border-5 border rounded-pill w-50 opacity-75 mx-auto">
    <ul>
        @foreach (var application in applications)
        {
            <li>
                <ul>
                    <li><strong>Company Name:</strong> @application.CompanyName</li>
                    <li><strong>Contact Name:</strong> @application.ContactName</li>
                    <li><strong>Date Applied:</strong> @(application.DateApplied.HasValue ? application.DateApplied.Value.ToShortDateString() : "N/A")</li>
                    <li><strong>Follow Up:</strong> @(application.FollowUp.HasValue ? application.FollowUp.Value.ToShortDateString() : "N/A")</li>
                    <li><strong>Phone Number:</strong> @application.PhoneNumber</li>
                    <li><strong>Status:</strong> @application.Status</li>
                    <li><strong>Notes:</strong> @application.Notes</li>
                </ul>
            </li>
            <hr class="border border-primary border-5 border rounded-pill w-50 opacity-75 mx-auto">

        }
    </ul>
}

@code {
    private List<Applications>? applications;

    protected override void OnInitialized()
    {
        applications = DatabaseHelper.GetAllApplications();
    }
}